* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
html {
/* background-color: #fff; */
background-image:  url(/client/src/components/Home/home-bg.jpg);
color: black;
/* font-family: 'Lato','Arial','sans-serif'; */
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: 100;
font-size: 3.5vh;
text-rendering: optimizeLegibility;
}
.btn{
  display: inline-block;
  padding: 1.8vh 3.5vh;
  font-weight: 300;
  text-decoration: none;
  border-radius: 50vh;
  transition: background-color 0.5s, border 0.5s, color 0.5s;
}
.btn-primary{
  display: inline-block;
  padding: 1.8vh 3.5vh;
  background-color: #0460fC;
  border: 1px solid #0460fC;
  color: #fff;
  border-radius: 50vh;
}
.btn:hover,
.btn:active {
  background-color: #0460fC; 
  border: 1px solid #0460fC;
}
label {
  color: black;
  font-weight: bold;
  /* background-color: salmon; */
}
span.psw{
  float:right;
  padding-top: 2.5vh;
  color: #606160  ;
  font-weight: bold;
}
a:link,
a:visited{
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.5s;
}
a:hover,
a:active{
  border-bottom: 2px solid #0460fC;
}

.container-button{
  text-align:center;
}