.home-container
{
    padding-top: 50px;
}

.feed-username
{
    display: inline;
    color: #0460fC;
}

.home-card
{
    padding-top: 10px;
    height: auto;
    width: 70%;
    
    position: relative;
    background-color: white;
    overflow-y: scroll;
    text-overflow: ellipsis;
    border-color: black;
    display: block;
    box-shadow: 0 4px 8px 0 rgb(2, 81, 253);
}

.home-card-title
{
    position: absolute;
    top: 20px;
    left: 80px;     /*10*/

}

.feed-time
{
    position: absolute;
    top: 55px;
    left: 90px;     /*20*/
    font-size: 25px;
    font-style: italic;
}

.home-prod-desc-card-text 
{
    position: absolute;
    top: 150px;
    left: 20px;     /*20*/
    right:20px;
    
    
    white-space: pre-wrap;
}

.home-req-desc-card-text 
{
    position: absolute;
    top: 150px;
    left: 20px;     /*20*/
    right:20px;
    
    
    white-space: pre-wrap;
}

.home-price-card-text 
{
    position: absolute;
    top: 120px;
    left: 20px;     /*20*/
    right:20px;
    height: 20px;
    white-space: pre-wrap;
    color: rgb(23, 0, 128);
}

.desc-req-container
{
    height: 150px;
    width: 50px;
    padding-bottom: 50px;
    margin-bottom: 5px;
    
}

.desc-prod-container
{
    height: 150px;
    width: 50px;
    padding-bottom: 50px;
    margin-bottom: 5px;
}

.req-img
{
    position: absolute;
    height: 50px;
    width: auto;
    left: 25px;
    top: 32px;
}
body{
    background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)), url(bg-sample.png);
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

p{
    font-size: small;
    font-weight: 500;
    text-align: justify;
}

.card-title-color {
    background-color: chartreuse;
    height:max-content;
}

.card-title-color1 {
    background-color: rgb(0, 0, 0);
    height:max-content;
}