.container-register{
    background-color: #0460fC;
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1.5vh;
}
#forgot1{
    color:#0460fC ;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 3.1vh;
    padding: 1vh;
}
.wrap-input100 {
    width: 100%;
    position: relative;
  }

#cardregister{
    width: 95%;
    margin-bottom: 8.5vh;
    margin-top: 8.7vh;
}

.card-body{
    margin-top:1.6vh;
}

.card-body1{
    margin-top:2.0vh;
    padding-top: 5%;
    margin-right: 20px;
}



#title1{
    color: black;
    font-size: 4.24vh;
    font-weight: bold;
    font-family: Abril Fatface;
    letter-spacing: 0.15vh;
    word-spacing: 1.4vh;
    padding-top: -5%; 
    text-align: center;
    background-color: white;
   border-radius: 5px;
    margin-bottom:4vh; 
  }

  .btn2{
    margin-bottom: 2px;
    margin-top: 30px;
    }
