
.container-login100 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.4)), url(img/bg12.png);
    width: 100%;  
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1.5vh;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
  }

.loginform{
  padding-top: 1%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  background-color: white;
  opacity: 0.9;
  border-radius: 25px;
}


#forgot{
    color:black ;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 3.2vh;
    padding: 1vh;
  }
.flex-centered{
    padding: 5vh 5vh;
}
#title{
    color:#0460fC;
    font-size: 6.2vh;
    font-weight: bold;
    font-family: Abril Fatface;
    letter-spacing: 0.15vh;
    word-spacing: 1.4vh;
    padding-top: -5%; 
    text-align: center;
    /* margin-bottom:3.9vh;  */
  }
  #title2{
    color:black;
    font-size: 4.2vh;
    font-weight: bold;
    font-family:System-UI;
    text-align: center;
  }

/* .psw :hover {
    background-color: salmon;
  } */
.cat{
  color: rgb(71, 157, 184);
  font-size: 6.3vh;
  text-align: left;
}
.srch{
  color: #0460fC;
  font-size: 125%;
  text-align: center;
}

.form-control{

  width: 93%;
  margin-right: auto;
  margin-left: auto;
}

.btn{
margin-left: 3%;
}

.h1{
  color: #0460fC;
 
}